<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KspTsTool3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KspTsTool3.Properties.Settings>
            <setting name="MicrosoftTranslatorAPIClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="MicrosoftTranslatorAPIClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDataPathList" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsMachineTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSelectedGameDataPathIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsAfterOpenFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSaveLogFile" serializeAs="String">
                <value>False</value>
            </setting>
        </KspTsTool3.Properties.Settings>
    </userSettings>
</configuration>